LazyLogin-wsdl/scr/main/resources/user.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://login.navid.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UserCommandsImplService" targetNamespace="http://login.navid.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://login.navid.com/" elementFormDefault="unqualified" targetNamespace="http://login.navid.com/" version="1.0">

            <xs:element name="loginWithTokenRequest" type="tns:loginWithTokenRequest"/>
            <xs:element name="loginWithTokenResponse" type="tns:loginWithTokenResponse"/>
            <xs:element name="createTokenRequest" type="tns:createTokenRequest"/>
            <xs:element name="createTokenResponse" type="tns:createTokenResponse"/>
            
            <xs:complexType name="sessionid">
                <xs:sequence>
                    <xs:element minOccurs="1" name="sessionid" type="xs:string"/>
                    <xs:element minOccurs="1" name="ttl" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="token">
                <xs:sequence>
                    <xs:element minOccurs="1" name="token" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="loginWithTokenRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="token" type="tns:token"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="loginWithTokenResponse">
                <xs:sequence>
                    <xs:element minOccurs="1" name="response" type="tns:sessionid"/>
                </xs:sequence>                
            </xs:complexType>
            <xs:complexType name="createTokenRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createTokenResponse">
                <xs:sequence>
                    <xs:element minOccurs="1" name="sessionid" type="tns:sessionid"/>
                    <xs:element minOccurs="1" name="token" type="tns:token"/>
                </xs:sequence>               
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="loginWithTokenRequest">
        <wsdl:part element="tns:loginWithTokenRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="loginWithTokenResponse">
        <wsdl:part element="tns:loginWithTokenResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createTokenRequest">
        <wsdl:part element="tns:createTokenRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createTokenResponse">
        <wsdl:part element="tns:createTokenResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:portType name="UserCommands">
        <wsdl:operation name="loginWithToken">
            <wsdl:input message="tns:loginWithTokenRequest" name="loginWithTokenRequest">
            </wsdl:input>
            <wsdl:output message="tns:loginWithTokenResponse" name="loginWithTokenResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createToken">
            <wsdl:input message="tns:createTokenRequest" name="createTokenRequest">
            </wsdl:input>
            <wsdl:output message="tns:createTokenResponse" name="createTokenResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="UserCommandsImplServiceSoapBinding" type="tns:UserCommands">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    </wsdl:binding>
    
    <wsdl:service name="UserCommandsImplService">
        <wsdl:port binding="tns:UserCommandsImplServiceSoapBinding" name="UserCommandsImplPort">
            <soap:address location="http://localhost:8080/login/user"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>